@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.bodyContainer {
  height: 100vh;
  width: 100vw;
  background-color: #1d1d1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 38px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  font-weight: 500;
  width: 60%;
}
#click {
  font-size: 20px;
  font-weight: 300;
  width: 60%;
  margin-top: 3rem;
}
#button {
  padding: 10px 12px;
  border: none;
  outline: none;
  background-color: #4e4e4f;
  color: #fff;
  border-radius: 8px;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  width: 10%;
  transition: 0.4s ease;
}
button:hover {
  background-color: #babac1;
  color: #1d1d1f;
}
.githubIcon {
  position: absolute;
  bottom: 20%;
  transition: 0.4s ease;
  border-radius: 32px;
}
.githubIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 30px hsla(0,0%,59.2%,.4);
}